.DS_Store
node_modules
package-lock.json

keys.js

-- to run schema.sql from command line --
mysql -h gigem.c4ypxmjg5a26.us-east-2.rds.amazonaws.com -u vengeance -p < schema.sql
- then enter password
