
 body {
    /* position:fixed; */
    top:0;
    bottom:0;
    left:0;
    right:0;
}

a {
    color: rgb(0, 0, 0);
}
.landingcontainer {
  background-image: url('../Assets/talkingheads-live.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; 
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 40px 0 rgb(0, 0, 0);
}

.loginBtn {
	box-sizing: border-box;
	position: relative;
	width: 13em;  
	margin: 0.2em;
	padding: 0 5px 0 46px;
	height: 65px;
	border: none;
	text-align: left;
	line-height: 34px;
	white-space: nowrap;
	border-radius: 0.2em;
	font-size: 16px;
	color: #FFF;
  }
  .loginBtn:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 34px;
	height: 100%;
  }
  .loginBtn:focus {
	outline: none;
  }
  .loginBtn:active {
	box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  /* Google */
  .loginBtn--google {
	/*font-family: "Roboto", Roboto, arial, sans-serif;*/
	background: #DD4B39;
  }
  .loginBtn--google:before {
	border-right: #BB3F30 1px solid;
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 23px no-repeat;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
	background: #E74B37;
  }


.landingpage {
  overflow: hidden;
  height: 100%;
  text-align:center;
}

.logo {
  /* resize: both; */
  max-width: 100%;
  height: auto;
  width: 100%;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}
.img-fluid {
  color:#FF9900;
}
.arrows path {
  stroke: #FF9900;
  fill: transparent;
  stroke-width: 6px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}


.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.user-Navbar {
	background-color: rgb(117, 162, 214);
	color: white ; 

}

.user-navbar-row{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6495D0;
}

.user-navbar-row{
    float: right;
}


.nested {
  display: grid;
  grid-template-columns: 90%;
  grid-gap: 1em;
  padding:1em;
  grid-auto-rows: minmax(100px, auto);
  border-radius: 15px 50px 30px;

}

.userProfile-wrapper{
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 2em;
  grid-auto-rows: minmax(100, auto);
  justify-items: stretch;
  align-items: stretch;
  padding: .5cm 2cm 2cm 1cm;
}

.user-profile-image {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 10%;
  overflow:hidden; 
  background: 50% 50% no-repeat;
}

.google-maps{
	display: grid;
	grid-template-columns: 1fr;
	padding-top: 0x;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	position: sticky;
	max-width: 100%;
	height: auto;
	margin-top: 70px;
	
}


.inside-map{
  justify-items: center;
}

.bandProfile-wrapper{
  display: grid;
  grid-template-columns: 10% 75% 10%;
  /* grid-gap: 1em; */
  grid-auto-rows: minmax(100, auto);
  justify-items: center;
  align-items: stretch;
  margin: 10px

}

.bandContent-wrapper {
  display: grid;
  grid-template-columns: 25% 55%  30%;
  grid-gap: 1em;
  grid-auto-rows: minmax(100, auto);
  justify-items: stretch;
  align-items: stretch;
  /* padding: 1cm 2cm 4cm 1cm; */

}

.band-media {
  display: grid;

  grid-auto-rows: minmax(100, auto);
  justify-items: stretch;
  align-items: stretch;

  border-radius: 15px 50px 30px;
}


.bandContent-wrapper > div {

  padding:1em;
  border-radius: 15px 50px 30px;
}

.band-show-scroll{
  width: 100%;
    height: 40vh;
    overflow: scroll;
}

.grid-image {
  flex: 0 auto;
  /* margin: 0 auto; */
  align-items: stretch;
  padding: 5px 5px 5px 5px;
  width: 100%;
}

.upComing-Po-Gigs {
  display: grid;

}
.user-show-scroll{
  width: auto;
  height: 600px;
 
  border-radius: 35px;
  overflow: scroll;

}

.side-scrolling{
  width: auto;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.userProfile-wrapper > div {
  /* background: #cbe0fa; */
  padding:1em;
  border-radius: 15px 50px 30px;
}


.user-side-bar {
  align-self: start;
  background-color: rgb(231, 243, 252);

}

.up-comingShows {
  align-self: start;
}
.potential-gig-wrapper{
	border: 6px solid rgb(231, 243, 252);
	
	padding: 1em;
	box-shadow: 4px 4px 6px grey;
}

.nested > div {

  padding:1em;
  border-radius: 15px 50px 30px;
}

.potential-gig-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 0px;
  grid-auto-columns: minmax(500px, auto);
  margin-bottom: 20px;
  border-radius: 40px;
}

/* row 1 */

.potential-gig-band-name {
  margin-top: 15px;
  /* margin-left: 10px; */
  grid-row: 1;
  grid-column: 1;
  text-align: center;
}

.potential-gig-event-name {
	margin-top: 15px;
  grid-row: 1;
  grid-column: 2;
  text-align: center;
}

.potential-gig-venue {
  margin-top: 15px;
  /* margin-right: 10px; */
  grid-row: 1;
  grid-column: 3;
  text-align: center;
}

/* row 2 */

.potential-gig-img {
  grid-row: 2;
  grid-column: 1/4;
  text-align: center;
}

.potential-gig-image {
  width: 20%;
  height: auto;
  object-fit: cover;
  border-radius: 10%;
  overflow:hidden; 
  background: 50% 50% no-repeat;
}

/* row 3 */

.potential-gig-progress-bar {
  grid-row: 3;
  grid-column: 1/4;
}

/* row 4 */

.potential-gig-commit-number {
  margin-left: 15px;
  grid-row: 4;
  grid-column: 1;
}

.potential-gig-money-commit-value {
  grid-row: 4;
  grid-column: 2;
}

.potential-gig-commit-button {
	margin-right: 15px;
  grid-row: 4;
  grid-column: 3;
  text-align: right;
}

/* progress wrapper start */

.progress-wrapper

.gig-text-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: rgba(248, 248, 248, 0.87);
  padding:1em;
 
}

.social-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inside-wall {
  display: grid;
  grid-auto-columns: 1fr;
  padding:1em;
  /* align-items: stretch; */
  width: auto;
  height: 700px;
  /* overflow: scroll;/ */
  /* color: white; */
  
}
.inside-wall > div {
  background:white;
  padding:1em;
  /* border-radius: 25px; */
  

}
.each-h-block {
  display: grid;
  grid-auto-columns: 1fr;
  padding:1em;
  grid-gap: 1em;
  background: rgb(248, 236, 236);
  align-items: stretch;
  
}
.band-dashboard{
  padding: 2cm 9cm 2cm 5cm;
}

.user-dashboard {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 100%;
  height: 550px;
}
.user-dashboard-leftcolumn{
	padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 20px;
	padding-left: 10px;
}

.nav-button  {
    border: none;
    color: white;
	padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.nav-button {
  background-color: white; 
    color: black; 
    /* border: 2px solid #E07330; */
}

.nav-button:hover {
  background-color: rgb(255, 159, 152);
    color: white;
}

.pitch-button{
	border-radius: 15px;
	border-color: rgb(255, 159, 152);
    color: white;
	padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

}
.pitch-button {
	background-color: white; 
	  color:rgb(255, 159, 152); 
	  /* border: 2px solid #E07330; */
  }
  
  .pitch-button:hover {
	background-color: rgb(255, 159, 152);
	  color: white;
  }


.chat-box{
	height: 600px;
	border-radius: 5px;
	
	
}


.chat-content{
	padding-top: 20px;
    padding-right: 10px; 
	padding-left: 15px;
	height: 480px;
	border: 6px solid rgb(195, 222, 243);
	border-radius: 10px;
	overflow: scroll;
}

.pitch-gig-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  grid-auto-rows: auto;
}

.pitch-gig-left-element {
  grid-column: 1;
}

.pitch-gig-right-element {
  grid-column: 2;
  text-align: right;
}

.pitch-gig-center-element {
  grid-column: 1 / 3;
  text-align: center;

}


.message-input {
	width: 100%;
	height:50px;
	padding: 0 25px;
	border-radius: 10px;



}


.message-input,
.message-input::-webkit-input-placeholder {
    font-size: 35px;
    line-height: 2;
}
.message-submit {
	border-radius: 15px;
	border-color: rgb(255, 159, 152);
    color: white;
	padding: 25px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	width: 100%;
}

.message-submit {
	background-color: white; 
	  color:rgb(255, 159, 152); 
	  /* border: 2px solid #E07330; */
  }
  
  .message-submit:hover {
	background-color: rgb(255, 159, 152);
	  color: white;
  }
.each-text{
	border-left: 6px solid rgb(255, 159, 152);
}